.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.backButton {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
  margin-bottom: 2rem;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  transition: background-color 0.3s;
}

.backButton:hover {
  background-color: #253169;
}

.backButton svg {
  margin-right: 0.5rem;
}
